# Python
__pycache__/

# Virtual environments
venv/
.venv/
env/
.env


# Model files
*.pth
*.pt
*.onnx
*.engine
*.trt

# Outputs
outputs/
results/
runs/
TEMP_OUTPUT/
TEMP_OUTPUT_HEAD/
AUDITop/
out_liq/
OUTPUTS_NAWAZ/

# Data
data/
datasets/

# Temporary
tmp/
temp/

#weights
weights/

# Data
12_Full_Image_Datasets/