# Python
__pycache__/

# Virtual environments
venv/
.venv/
env/
.env


# Model files
*.pth
*.pt
*.onnx
*.engine
*.trt

# Outputs
outputs/
results/
runs/
TEMP_OUTPUT/

# Data
data/
datasets/

# Temporary
tmp/
temp/

#weights
weights/

# Data
12_Full_Image_Datasets/